<div class="form-group">
  <%= f.label :labels %>
  <%= f.select :labels, ['Culture', 'Places', 'Living', 'Restaurants & Commerce'],
                    class: 'form-control',
                    value: labels.map(&:name).join(', ') %>
</div>
