<div class="container-fluid text-center">

<br>

  <div class="row text-center">
      <div class=".col-md-4">
          <% @label.each do |label| %>
          <div class="media bg-grey category">
            <div class="media-body">
              <h4 class="media-heading">
                  <%= link_to label.name, label %>
              </h4>
            </div>
          </div>
        <br>
    <% end %>
      </div>
  </div>

<br>
