<div class="container-fluid text-center">
<!--  <h3>Categories</h3>-->
    <br>
  <div class="row text-center">
      <div class=".col-md-4">
          <% @label.each do |label| %>
          <div class="media bg-grey category">
            <div class="media-body">
              <h4 class="media-heading">
                  <%= link_to label.name, label %>
              </h4>
            </div>
          </div>
    <% end %>
      </div>
  </div>
<br>