<div class="row">
    <div class="col-md-8">
      <h1><%= @label.name %></h1>

      <h3>Businesses:</h3> 
      <% @label.topics.each do |topic| %>
        <div>
          <%= link_to topic.name, topic %>
        </div>
      <% end %>

      <h3>Tidbits:</h3> 
      <% @label.posts.each do |post| %>
        <div>
          <%= link_to post.title, topic_post_path(post.topic, post) %>
        </div>
      <% end %>
    </div>
  </div>