<div class="row">
    <div class="col-md-12 text-center">
        <br>
        <br>
      <h1><%= @label.name %></h1>
        <br>
      <% @label.topics.each do |topic| %>
        <h3 class="topics">
          <%= link_to topic.name, topic %>
        </h3>
        <br>
      <% end %>
<br>
<!-- <% if user_is_authorized_for_topics? %> -->
      <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
    <% end %>
<!--

      <h3>Related Tidbits:</h3> 
      <% @label.posts.each do |post| %>
        <div>
          <%= link_to post.title, topic_post_path(post.topic, post) %>
        </div>
      <% end %>
-->
    </div>
  </div>