<br>
<div class="text-center">
    <h4>A collaboration by Kyle Kwon and Stephen Hattersley</h4>
    <h5>Special thanks to Christopher Beck</h5>
</div>
<br>
<div class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5 pad-left">
      <p>We will respond within 1-2 business days.</p>
      <p><span class="glyphicon glyphicon-envelope"></span> admin@seoultidbits.com</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Seoul, South Korea</p>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
