<h1>About Bloccit</h1>
<p>Created by: Kyle</p>


<a class="social-btn" href="https://twitter.com/amusingkyle">Follow</a>
<%= link_to "Follow", "https://twitter.com/amusingkyle", class: "social-btn" %>
