<br>
<div class="jumbotron">
  <h1>Seoul Tidbits</h1>
  <p>Sharing links with the world.</p>
  <p>
    <% unless current_user %>
      <%= link_to "Sign In", new_session_path %> or
      <%= link_to "Sign Up", new_user_path %> today!
    <% end %>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Categories</h2>
    <p>Nothing but the best.</p>
  </div>
  <div class="col-md-4">
    <h2>Topics</h2>
    <p>You name it.</p>
  </div>
  <div class="col-md-4">
    <h2>Tidbits</h2>
    <p>We want the facts.</p>
  </div>
</div>
