<br>
<div class="jumbotron">
  <h1>Bloccit</h1>
  <p>Sharing links with the world.</p>
  <p>
    <% unless current_user %>
      <%= link_to "Sign In", new_session_path %> or
      <%= link_to "Sign Up", new_user_path %> today!
    <% end %>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Topics</h2>
    <p>You name it, we have it. Or create your own, or browse the archives.</p>
  </div>
  <div class="col-md-4">
    <h2>Posts</h2>
    <p>Introverted or extraverted, speak your mind and vote up or down.</p>
  </div>
  <div class="col-md-4">
    <h2>Comments</h2>
    <p>Join the conversation, don't be a troll.</p>
  </div>
</div>
