// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.red {
  background-color: #6699ff;
  padding: 50px;
  margin-bottom: 10px;
}
